<launch>
  <!-- Launch file for Livox MID360 LiDAR -->

  <arg name="map" default="" />

  <arg name="headless" default="false" />

  <arg name="oneshot" default="false"/> <!-- only do once -->
  <arg name="livox_driver" default="true" />

  <arg name="frame_offset_x" default="0.0"/>
  <arg name="frame_offset_y" default="0.0"/>
  <arg name="frame_offset_z" default="0.0"/>
  <arg name="frame_offset_roll" default="0.0"/>
  <arg name="frame_offset_pitch" default="0.0"/>
  <arg name="frame_offset_yaw" default="0.0"/>

  <arg name="scan_stack_size" default="10"/>
  <arg name="map_voxel_size" default="0.2"/> <!-- default: 0.4 -->
  <arg name="scan_voxel_size" default="0.1"/>
  <arg name="max_corres_dist" default="1.0"/>
  <arg name="freq_localization" default="0.5"/>
  <arg name="localization_thresh" default="0.95"/>
  <arg name="fov_far" default="10.0"/>
  <arg name="scan_thresh" default="5.0"/>



  <!-- fast lio for odometry -->
  <include file="$(find fast_lio)/launch/mapping_mid360.launch" >
    <arg name="rviz" value="false" />
    <arg name="livox_driver" value="$(arg livox_driver)" />
  </include>

  <!-- loalization-->
  <node pkg="fast_lio_localization" type="global_localization.py" name="global_localization" output="screen">
    <param name="initial_frame_offset/x" value="$(arg frame_offset_x)"/>
    <param name="initial_frame_offset/y" value="$(arg frame_offset_y)"/>
    <param name="initial_frame_offset/z" value="$(arg frame_offset_z)"/>
    <param name="initial_frame_offset/roll" value="$(arg frame_offset_roll)"/>
    <param name="initial_frame_offset/pitch" value="$(arg frame_offset_pitch)"/>
    <param name="initial_frame_offset/yaw" value="$(arg frame_offset_yaw)"/>

    <param name="registration/stack_size" value="$(arg scan_stack_size)"/>
    <param name="registration/max_corres_dist" value="$(arg max_corres_dist)"/>
    <param name="registration/map_voxel_size" value="$(arg map_voxel_size)"/>
    <param name="registration/scan_voxel_size" value="$(arg scan_voxel_size)"/>
    <param name="registration/freq_localization" value="$(arg freq_localization)"/>
    <param name="registration/localization_thresh" value="$(arg localization_thresh)"/>
    <param name="registration/fov_far" value="$(arg fov_far)"/>
    <param name="registration/scan_thresh" value="$(arg scan_thresh)"/>

    <param name="headless" value="$(arg headless)"/>
    <param name="oneshot" value="$(arg oneshot)"/>
  </node>


  <!-- global map-->
  <node pkg="pcl_ros" type="pcd_to_pointcloud" name="map_publishe" output="screen" args="$(arg map) 5 _frame_id:=/map cloud_pcd:=/3d_map" />

  <!-- rviz -->
  <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio_localization)/rviz_cfg/localization.rviz" unless="$(arg headless)"/>


</launch>
